<section>

  <div class="container">
    <div class="text-center my-3">
      <h3 id="form-one">Patient Details</h3>
    </div>
    <div class="row justify-content-center" *ngIf="newPatient">
      <div class="col-11 col-lg-7">

        <div class="mb-3">
          <label class="form-label" for="first-name"> First Name</label>
          <input type="text" class="form-control" [(ngModel)]="firstname" placeholder="Please enter your First Name" name="first-name" id="first-name">
        </div>
        <div class="mb-3">
          <label class="form-label" for="middle-name"> Middle Name</label>
          <input type="text" class="form-control" [(ngModel)]="middlename" placeholder="Please enter your Middle Name" name="question-no" id="middle-name">
        </div>

        <div class="mb-3">
          <label class="form-label" for="last-name"> Full Name</label>
          <input type="text" class="form-control"  [(ngModel)]="lastname" placeholder="Select Question Number" name="question-no" id="last-name">
        </div>
        <div class="mb-3">
          <label class="form-label" for="DOB"> Date of Birth</label>
          <input class="form-control" id="DOB" id="DOB" [(ngModel)]="DOB" name="question" type="date" placeholder="DOB">
        </div>

        <div>
          Patient-ID: xxxxxxx
        </div>


        <div class="mb-3 text-center">
          <button class="btn btn-primary" (click)="saveNewPatient()">
            Save
          </button>
          <button class="btn btn-warning" *ngIf="showUSERPIButton" (click)="enterUSERPI()">
            Enter USER PI
          </button>

        </div>
      </div>

    </div>
    <div class="row justify-content-center" *ngIf="existingPatient">
      <div class="col-11 col-lg-7">
        <div class="mb-3">
          <label class="form-label" for="Patiend-ID"> Patiend-ID</label>
          <input type="text" class="form-control" [(ngModel)]="patient_ID" placeholder="Please enter your Patiend-ID" name="first-name" id="Patiend-ID">
        </div>
        <div class="mb-3">
          <label class="form-label" for="first-name"> First Name</label>
          <input type="text" class="form-control" [(ngModel)]="firstname" placeholder="Please enter your First Name" name="first-name" id="first-name">
        </div>
        <div class="mb-3">
          <label class="form-label" for="middle-name"> Middle Name</label>
          <input type="text" class="form-control"  [(ngModel)]="middlename" placeholder="Please enter your Middle Name" name="question-no" id="middle-name">
        </div>

        <div class="mb-3">
          <label class="form-label" for="last-name"> Full Name</label>
          <input type="text" class="form-control" [(ngModel)]="lastname" placeholder="Select Question Number" name="question-no" id="last-name">
        </div>
        <div class="mb-3">
          <label class="form-label" for="DOB"> Date of Birth</label>
          <input class="form-control" id="DOB" id="DOB" [(ngModel)]="DOB" name="question" type="date" placeholder="DOB">
        </div>


        <div class="mb-3 text-center">
          <button class="btn btn-primary"  (click)="saveExistingPatient()">
            Save
          </button>

          <button class="btn btn-warning"  *ngIf="showUSERPIButton" (click)="enterUSERPI()">
            Enter USER PI
          </button>

        </div>

      </div>
    </div>

    <div class="mb-3 text-center">
      <button class="btn btn-primary" (click)="showNewPatient()" >
        New Patient
      </button>


      <button  class="btn btn-primary" (click)="showExistingPatient()">
        Existing Patient
      </button>
    </div>
  </div>
</section>


<section>


<!--  <table class="table table-bordered border-primary">-->
<!--    <thead class="table-dark">-->
<!--    <tr>-->
<!--      <th scope="col">Patient ID</th>-->
<!--      <th scope="col">First Name</th>-->
<!--      <th scope="col">Middle Name</th>-->
<!--      <th scope="col">Last Name</th>-->
<!--      <th scope="col">Date of Birth</th>-->


<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--    <tr *ngFor="let item of patientDataset">-->
<!--      &lt;!&ndash; <td> {{ item._id }}</td> &ndash;&gt;-->
<!--      <td> {{ item.PATIENT_ID }}</td>-->
<!--      <td> {{ item.FIRSTNAME }}</td>-->
<!--      <td> {{ item.MIDDLENAME }}</td>-->
<!--      <td> {{ item.LASTNAME }}</td>-->
<!--      <td> {{ item.DOB }}</td>-->

<!--      <td class="text-center">-->
<!--        <button  class="btn btn-sm btn-primary"> Edit </button>-->
<!--      </td>-->
<!--      <td class="text-center">-->
<!--        <button  class="btn btn-sm btn-danger" > Delete </button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->



  <div class="row justify-content-center"  style="padding-bottom: 60px">
    <div class="">

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

      <div class="SCroll">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="PATIENT_ID">
            <th mat-header-cell *matHeaderCellDef> Patient ID </th>
            <td mat-cell *matCellDef="let element"> {{element.PATIENT_ID}} </td>
          </ng-container>

          <ng-container matColumnDef="FIRSTNAME">
            <th mat-header-cell *matHeaderCellDef> First Name  </th>
            <td mat-cell *matCellDef="let element"> {{element.FIRSTNAME}} </td>
          </ng-container>
          <ng-container matColumnDef="MIDDLENAME">
            <th mat-header-cell *matHeaderCellDef> Middle Name  </th>
            <td mat-cell *matCellDef="let element"> {{element.MIDDLENAME}} </td>
          </ng-container>
          <ng-container matColumnDef="LASTNAME">
            <th mat-header-cell *matHeaderCellDef> Last Name  </th>
            <td mat-cell *matCellDef="let element"> {{element.LASTNAME}} </td>
          </ng-container>


          <!-- Name Column -->
          <ng-container matColumnDef="DOB">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.DOB}} </td>
          </ng-container>

          <!-- Weight Column -->

          <ng-container matColumnDef="SELECT">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">  <button mat-button color="primary" (click)="selectPatient(element)"> Select</button> </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Position Column -->
      </div>
    </div>

  </div>

</section>

