<h4>
  Patient ID : {{this.patient_ID}}</h4>
<h4>
  Patient Name: {{lastname}}, {{firstname}}
</h4>

<div class="container SCroll" style="padding-top: 10px">
  <div class=" my-3">

<mat-card  style="margin-top: 10px" *ngFor="let item of cardDataSet" class="example-card">
 <mat-card-content>
<div class="row">
  <label for="Category-format">Category State:</label>

  <select  id ="Category-format" [(ngModel)]="item.CATEGORY" >
    <option [ngValue]="city" *ngFor="let city of categoryList">
      {{city.key}}
    </option>
  </select>


</div>
   <div class="row">



   <label for="Field-format">Category State:</label>

   <select id="Field-format" [(ngModel)]="item.FIELD">
     <option [value]="city" *ngFor="let city of item.CATEGORY?.value">
       {{ city }}
     </option>
   </select>
   </div>
   <!--   <label for="Category-format">Category State:</label>-->
<!--   <input-->
<!--     id="Category-format"-->
<!--     type="text"-->
<!--     class="form-control"-->
<!--     [(ngModel)]="item.category_field"-->
<!--     [ngbTypeahead]="search"-->
<!--     [resultFormatter]="formatter"-->
<!--   />-->

<!--   <label for="Field-format">fIELD:</label>-->
<!--   <input-->
<!--     id="Field-format"-->
<!--     type="text"-->
<!--     class="form-control"-->
<!--     [(ngModel)]="item.field"-->
<!--     [ngbTypeahead]="search"-->
<!--     [resultFormatter]="formatter"-->
<!--   />-->
   <div class="mb-3">
     <label class="form-label" for="first-name"> Value</label>
     <input type="text" class="form-control" [(ngModel)]="item.VALUE" placeholder="Please enter your First Name" name="first-name" id="first-name">
   </div>
   <div class="mb-3">
     <label class="form-label" for="middle-name"> FromDate</label>
     <input type="text" class="form-control" [(ngModel)]="item.FROMDATE" placeholder="Please enter your Middle Name" name="question-no" id="middle-name">
   </div>

   <div class="mb-3">
     <label class="form-label" for="last-name"> ToDate</label>
     <input type="text" class="form-control"  [(ngModel)]="item.TODATE" placeholder="Select Question Number" name="question-no" id="last-name">
   </div>


  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button  color="primary" (click)="upsertRecord(item)"> Save </button>
    <button mat-raised-button  (click)="addEmptyField()" color="warn"> Add New Field </button>
  </mat-card-actions>
</mat-card>

  </div>
</div>

<!--<button mat-raised-button color="accent"> Save to DB </button>-->

<!--<div class="container" >-->



<!--  <div class="Field" *ngFor="let item of CardDataSet">-->




<!--&lt;!&ndash;  <pre>Model: {{ item.category_field | json }}</pre>&ndash;&gt;-->






<!--  <button mat-button color="accent"> Save - Not Implemented </button>-->


<!--</div>-->

<!--<button mat-button color="accent" (click)="addEmptyField()"> Add New Field </button>-->


<!--<form class="example-form">-->
<!--  <mat-form-field class="example-full-width" appearance="fill">-->
<!--    <mat-label>Assignee</mat-label>-->
<!--    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
<!--    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">-->
<!--      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
<!--        {{option.name}}-->
<!--      </mat-option>-->
<!--    </mat-autocomplete>-->
<!--  </mat-form-field>-->
<!--</form>-->


