<h2>

  System Personal Details
</h2>


<section>


  <div class="container">
    <div class="text-center my-3">
      <h3 id="form-one">Patient Details</h3>
    </div>
    <div class="row justify-content-center" >
      <div class="col-11 col-lg-7">

        <div class="mb-3">
          <label class="form-label" for="serialNo"> Serial No.</label>
          <input class="form-control" id="serialNo" id="serialNo" [(ngModel)]="serialNo" name="question" type="number" placeholder="Serial No">
        </div>

        <div class="mb-3">
          <label class="form-label" for="field"> Enter Category</label>
          <input type="text" class="form-control" [(ngModel)]="category_field" placeholder=" Enter Category" name="field" id="field">
        </div>


        <div class="mb-3">
          <label class="form-label" for="value"> Value</label>
          <input class="form-control" id="value" id="value" [(ngModel)]="value" name="question" type="text" placeholder="Value">
        </div>



        <div class="mb-3 text-center">
          <button class="btn btn-primary" (click)="saveCategoryValue()">
            Save
          </button>

        </div>
      </div>

    </div>



  </div>
</section>


<section >


<!--  <table class="table table-bordered border-primary">-->
<!--    <thead class="table-dark">-->
<!--    <tr>-->
<!--      <th scope="col">Serial No</th>-->
<!--      <th scope="col">Category</th>-->
<!--      <th scope="col">Value</th>-->



<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--    <tr *ngFor="let item of categoryValueDataset">-->
<!--      &lt;!&ndash; <td> {{ item._id }}</td> &ndash;&gt;-->
<!--      <td> {{ item.SERIAl_NO}}</td>-->
<!--      <td> {{ item.CATEGORY }}</td>-->
<!--      <td> {{ item.VALUE }}</td>-->

<!--      <td class="text-center">-->
<!--        <button  class="btn btn-sm btn-primary"> Edit </button>-->
<!--      </td>-->
<!--      <td class="text-center">-->
<!--        <button  class="btn btn-sm btn-danger" > Delete </button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->


  <div class="row justify-content-center"  style="padding-bottom: 60px">
  <div class="">

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>

    <div class="SCroll">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        Position Column
        <ng-container matColumnDef="SERIAl_NO">
          <th mat-header-cell *matHeaderCellDef> Serial No. </th>
          <td mat-cell *matCellDef="let element"> {{element.SERIAl_NO}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="CATEGORY">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.CATEGORY}} </td>
        </ng-container>

        <ng-container matColumnDef="VALUE">
          <th mat-header-cell *matHeaderCellDef> Field </th>
          <td mat-cell *matCellDef="let element"> {{element.VALUE}} </td>
        </ng-container>



        <!-- Weight Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Position Column -->
    </div>
  </div>

  </div>
</section>

