<section>

  <div class="container">
    <div class="text-center ">
      <h3 id="form-one">  System Personal Information</h3>
    </div>
    <div class="row justify-content-center" >
      <div class="col-11 col-lg-7">

        <div class="mb-3">
          <label class="form-label" for="serialNo"> Serial No.</label>
          <input class="form-control" id="serialNo" id="serialNo" [(ngModel)]="serialNo" name="question" type="number" placeholder="Serial No">
        </div>





        <div class="mb-3">
          <label class="form-label" for="category_field"> Enter Category</label>
<!--          <select class="custom-select"  id="category_field">-->
<!--            <option *ngFor=" let value of SystemCategoryDataset" value="{{value.CATEGORY}}">{{value.CATEGORY}}</option>-->

<!--                   </select>-->
          <input type="text" class="form-control" [(ngModel)]="category_field" placeholder=" Enter Field" name="category_field" id="category_field" disabled>

        </div>


        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>


        <div class="SCroll">


          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

             Position Column
            <ng-container matColumnDef="SERIAl_NO">
              <th mat-header-cell *matHeaderCellDef> Serial No. </th>
              <td mat-cell *matCellDef="let element"> {{element.SERIAl_NO}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="CATEGORY">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let element"> {{element.CATEGORY}} </td>
            </ng-container>
            <ng-container matColumnDef="SELECT">
              <th mat-header-cell *matHeaderCellDef> Select </th>
              <td mat-cell *matCellDef="let element">     <button class="button button-primary" (click)="selectCategory(element)">Select</button>
              </td>
            </ng-container>
            <!-- Weight Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

            <!-- Position Column -->

        </div>

        <div class="mb-3">
          <label class="form-label" for="field"> Enter Field</label>
          <input type="text" class="form-control" [(ngModel)]="field" placeholder=" Enter Field" name="field" id="field">
        </div>


        <div class="mb-3">
          <label class="form-label" for="value"> Validation</label>
          <input class="form-control" id="value" id="value" [(ngModel)]="validation" name="question" type="text" placeholder="Value">
        </div>



        <div class="mb-3 text-center">
          <button class="btn btn-primary" (click)="saveCategoryValue()">
            Save
          </button>

        </div>
      </div>





      <div class="row justify-content-center"  style="padding-bottom: 60px">
        <div class="">

          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter2($event)" placeholder="Ex. ium" #input>
          </mat-form-field>

<div class="SCroll">
  <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    Position Column
    <ng-container matColumnDef="SERIAL_NO">
      <th mat-header-cell *matHeaderCellDef> Serial No. </th>
      <td mat-cell *matCellDef="let element"> {{element.SERIAL_NO}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="CATEGORY">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.CATEGORY}} </td>
    </ng-container>

    <ng-container matColumnDef="FIELD">
      <th mat-header-cell *matHeaderCellDef> Field </th>
      <td mat-cell *matCellDef="let element"> {{element.FIELD}} </td>
    </ng-container>

    <ng-container matColumnDef="VALIDATION">
      <th mat-header-cell *matHeaderCellDef> Validation </th>
      <td mat-cell *matCellDef="let element">    {{element.VALIDATION}}
      </td>
    </ng-container>
    <!-- Weight Column -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>

  <!-- Position Column -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

